.content {
  display: flex;
  height: 90%;
}
.payment {
  background: #f8f1eb;
  flex: 1 1 845px;
}
.summary {
  flex: 1 1 595px;
}

.dropdown {
  width: 360px;
}

.dropdown .dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown .dropdown-content {
  position: absolute;
}

h3 {
  font: 12px Arial, normal;
  color: #bdbdbd;
  margin-top: 0px;
}
.payment-header {
  font: 12px Arial, normal;
  font-weight: 700;
  letter-spacing: 0.07em;
  margin-top: 51.72px;
  margin-left: 15%;
  margin-bottom: 20px;
}

.payment-form {
  background: #ffffff;
  height: 88%;
  margin-left: 15%;
  margin-right: 5%;
  padding-left: 25px;
  padding-top: 10px;
  border: 1px solid #e9d6c5;
  box-sizing: border-box;
  border-radius: 6px;
}
form {
  display: flex;
}
.paymentMethodContainer {
  border: 2px solid #f2f2f2;
  border-radius: 6px;
  background: #fafafa;
  margin-right: 15px;
  margin-top: 15px;
}
.creditCard {
  padding: 15px 0px 15px 15px;
  margin-top: 0px;
  border-bottom: 2px solid #f2f2f2;
  font-weight: 400;
  background: white;
  font-size: 14px;
}
.cardNumber {
  margin: 8px 15px 0px 15px;
}
.monthYear {
  margin: 8px 15px 15px 15px;
}
.cvv {
  margin: 8px 15px 15px 0px;
}
.completeButton {
  padding-left: 7px;
  margin-top: 25px;
  margin-right: 10px;
  height: 48px;
  width: 97%;
  background: #009900;
  border-radius: 3px;
  border: none;
  color: white;
}
.iconsContainer {
  display: flex;
  justify-content: center;
}
img {
  margin-right: 20px;
}
.summary {
  width: 595px;
}

.remove-button {
  display: none;
  border: none;
  background-color: white;
  color: red;
  font-size: 10px;
}
.summary:hover .remove-button {
  display: block;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: white;
  background-color: #dc624e;
  padding-bottom: 20px;
}
.footerLink {
  margin: 15px 20px 5px 5px;
  text-decoration: none;
  color: white;
  font-size: 11px;
  padding-top: 20px;
}
.footerLinks {
  padding-top: 20px;
}
.footerLogo {
  padding-top: 20px;
}
.footerRights {
  padding-top: 20px;
  font-size: 12px;
}

/* media queries */

@media (max-width: 767px) {
  form {
    flex-flow: column;
  }
}
